body{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    
    background-color: black;
}
button{
    box-shadow:15px 12px 7px ;
    padding:2px ;
    border:13px;
    border-style: groove;
   margin-top: 20%;
    border-radius:20%;
}
.up{
    padding-left:200%;
    margin:-1px;
    background-color: aqua;
    padding-bottom:280px ;
}
.full{
    margin-bottom: 20%;
}