body{
   
    
    background-color: black;
    
}
button{
    
    box-shadow:15px 12px 7px ;
    padding:12px ;
    border:9px;
    border-style: groove;
   right:600px;
   margin-top:300px;
    border-radius:20%;
    position: absolute;
}


button:hover{
    border-style:none ;
    animation: button 1s infinite;
}

@keyframes button{
    0%{
        transform: translateX(20px);
    background-image:linear-gradient(green,black);
}
    25%{
        transform: translateX(-20px);
        background-image:linear-gradient(chartreuse,blue);
    }
    50%{transform: translateX(20px);
        background-image:linear-gradient(rgb(255, 0, 191),blue);
        
    }
    75%{transform: translateX(-20px);
        background-image:linear-gradient(rgb(255, 136, 0),rgb(247, 0, 255));
    }
    100%{transform: translateX(20px);
        background-image:linear-gradient(chartreuse,blue);
        
    }

}