
body{
    background-color:rgb(66, 64, 64);
    margin: 100px 250px 90px 250px;
 /* background-image: url(26723-the-ipl-2022-trophy.webp);
background-repeat:no-repeat; */
}
h2{
    font-style: italic;
    color:white;
    text-shadow: 2px 2px burlywood;
}

label{
    font-size: xx-large;
    font-style: italic;
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px burlywood;
}


img{
    /* padding:10px 30px 10px 40px; */
    margin: 30px 30px 30px 30px;
}


body:hover{
    background-color: rgb(108, 194, 194);
}
.cont2:hover{
    color: brown;
    background-color: rgb(63, 175, 175);
}
.cont{
    margin-top: 14%;
padding-bottom: 4%;
padding-right: 3%;
padding-left: 3%;
}
.cont:hover{
    background-color: aquamarine;
   color: brown;
}
label:hover{
    color: brown;
}


