
body{
    background-color:black;
    margin: 200px 20px;
}


h1{
    font-style: italic;
    color: chartreuse;
    text-shadow: 2px 2px burlywood;
}


.cont{
    background-color: beige;
    width: 70%;
}