body{
    background-image:radial-gradient(pink,rgb(0, 217, 255),rgb(255, 9, 255));
    /* background-image: radial-gradient(yellow,pink, rgb(109, 223, 243)); */
}

.con{
    position: relative;
    background-image:  cadetblue;
   
    margin:6%;
   margin-bottom:8%;
    padding-bottom:2%;
    margin-right: 40%;
    margin-left: 40%;
    border-radius: 30%;
   box-shadow: 3px 6px 5px rgb(255, 0, 0);
   transition: 0.7s ease-out;

   opacity:1;
   
}
h2{
    padding-top:2% ;
}
/* .lable{
    font-size:25px;
   /* padding-bottom:20%; */
 /* font-size: large; */


.con:hover{
    background-image:linear-gradient(aqua,green) ;
   
  
}
.top{
    margin-top:8%;
    padding: auto;
   
}
input{
    box-shadow:3px 7px 7px ;
    border-radius: 40px;
    border-color: rgb(2, 2, 2);
    padding-left: 18%;
    padding-bottom:3%;
}
button{
    box-shadow:3px 7px 7px ;
    border-radius: 20px;
    border-color: rgb(8, 8, 8);
    display: flex;
    justify-content:space-evenly;
    height: 35px;
    width: 90px;
}
.outputmsg{
    font-size: large;
    font-style: italic;
    text-shadow: 3px 7px 7px rgb(0, 0, 0);
    position: absolute;
}
.button{
    
    position: absolute;
    margin-top:100%;
}
button:hover{
    background-color:rgb(255, 164, 250);
    transform: scale(0.7);
}
input:hover{
    background-color:rgb(32, 255, 106) ;
}
.title{

    padding-top:2%;
  font-size:30px;
    text-shadow: 2px 3px 5px rgb(49, 49, 49) ;
}
