.smili{
    
    /* background-color:gray; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
   
   
}

.emoji{
     display: flex;
     align-items: end;
     justify-content: space-around;
    height:350px;
    width:350px;
    border-radius: 50%;
    background-color: rgb(255, 255, 0);
    position: relative;
    box-shadow: 13px 4px 18px rgb(221, 8, 115);
    bottom: 65px;
}
.eye1{
    height:70px;
    width:50px;
    border-radius: 50%;
    border:3px;
    border:3px solid black;
    background-color:rgb(250, 0, 0);
    position: absolute;
    top:220px;
    left:80px;
}
.eye2{
    height:70px;
    width:50px;
    border-radius: 50%;
    border:3px solid black;
    background-color:rgb(255, 0, 0);
    position: absolute;
    top:220px;
    left:220px;
}
.pupli1{

      height:50px;
    width:30px;
    border-radius: 50%;
    background-color:rgb(255, 255, 255);
    /* position: absolute; */
    margin: auto;
   
}
.pupli2{
     height:50px;
    width:30px;
    border-radius: 50%;
    background-color:rgb(255, 255, 255);
    /* position: absolute; */
    margin: auto;
    /* transform: rotate(80deg); */
    
    
}
.mouth{
    position: absolute;
    /* background-color: rgb(255, 0, 0); */
    bottom: 100px;
    height: 150px;
    width: 209px;
     
    border: 6px solid transparent;
    border-top: 15px solid black;
    border-radius: 100%;
  
    
}
.emoji:hover{
    transform: rotate(180deg);
    background-color: aqua; 
    margin-left:2px ;
    margin-top:20px ;
   box-shadow: 13px 4px 18px wheat;
   
}
body{
    background-repeat: no-repeat;
   background-image: linear-gradient(black,grey,rgba(43, 255, 0, 0.582));
}
label{
    font-size: 90px;
    color: gold;
    text-shadow: 10px 3px 9px ;
}

