body{
    background-color: black;
   
}

.emoji{

  
    background-color: rgba(255, 255, 0,.4);
    padding:150px;
    margin: 250px;
    border-radius: 90% ;
    width: 1%;
position: relative;
}
.eye1{
  
    /* position:relative; */
    
    padding-right: 90%;
    /* margin: 50px; */
    padding: 20px;
    background-color: rgb(255, 0, 0);
    height:10px;
    width: 01px;
    border-radius:50px ;
}
/* .eye span{
    display: inline-block;
     
     position: absolute;
    margin-right: 200%;
     background-color: rgb(230, 206, 206);
     height:10px;
     width: 01px;
     border-radius:50px ;
 } */
.eye2{
   
    
    /* position: absolute; */
    content:"";
    margin-left:30%;
    padding: 20px;
    background-color: rgb(247, 239, 239);
    height:10px;
    width: 01px;
    border-radius:50px ;
}

table{
    /* position: absolute; */
    padding-left: 5%;
    padding-right: 90%;
    margin-right: 50%;
    margin-top: 20%;
   justify-content:space-evenly;
}
